<!DOCTYPE html>
<html>
  <head>
    <title>TinyMCE <%= name %> Demo Page</title>
    <script src="../../../../../tinymce.dev.js"></script>
    <script src="../../../config/bolt/bootstrap-demo.js"></script>
    <script>
      ephox.bolt.module.api.main('tinymce.<%= camelName %>.demo.Demo');
    </script>
    <style>
      textarea.editor {
        min-height: 600px;
        border: 1px solid gray;
      }
    </style>
  </head>

  <body>
    <h2>TinyMCE <%= name %> Demo Page</h2>
    <div id="ephox-ui">
      <textarea class="editor">
        Testing <%= name %> plugin
      </textarea>
    </div>
  </body>
</html>
